.main--bg-primary {
    min-height: calc(100vh - #{$height-section-medium});
    width: 100%;
    background-image: linear-gradient(to bottom right , $color-primary-light , $color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}