hr {
    border-top-width: 0;
    border-color: $gray;
    margin: 4rem auto;
}

.main-standard {
    padding: 4rem $spacing-more;
    background-color: $white;
    max-width: $width-inner-content;
    margin-right: auto;
    margin-left: auto;
}

.host-box {
    max-width: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: $height-section-medium;

    &__bio {
        flex: 1 0 70%;
    }

    &__name {
        color: $color-primary;
        line-height: $height-section-medium / 2;
        margin: 0;
    }

    &__date {
        line-height: $height-section-medium / 2;
    }

    &__photo {
        flex: 0 0 auto;        
        width: $height-section-medium;
        height: $height-section-medium;
        border-radius: 50%;

        @include shadow-enhanced;
    }

    &--with-border{
        padding-bottom: $spacing-standard;
        border-bottom: 1px solid $gray;
    }
}


.apt-heading {

    padding-bottom: 4rem;

    &__title {
        font-size: 4rem;
        line-height: 5rem;
        margin-bottom: $spacing-small;
    }

    &__rating {
        i {
            color: $color-primary;
        }
        margin-bottom: $spacing-small;

    }

    &__address {
        margin-bottom: $spacing-small;
    }
}

.outer-sticky-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

    @include responsive(tablet) {
        display: block;
    }
}

.apt-info {
    flex: 0 0 50%;
}

.apt-facilities {
    
    &__list {
        list-style-type: none;
    }

    &__single {
        margin-bottom: $spacing-more;
    }

    &__icon {
        color: $color-primary;
        margin-right: $spacing-small;
        width: 3rem;
        font-size: 2rem;
        text-align: left;
    }

    &__name {
        display: inline-block;
        text-transform: capitalize;
    }

    &__description {
        margin-top: $spacing-tiny;
        margin-left: calc( 3rem + #{$spacing-small} + 5px);
    } 
}

.apt-description {
    p {
        margin-bottom: $spacing-standard;
        line-height: 2.2rem;
        hyphens: auto;
    }
}

.additional-services {

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
    }

    &__item {
        flex: 1 0 calc(100% /3);
        margin-bottom: $spacing-standard;
        
        @include responsive(tablet) {
            flex: 1 0 calc(100% /2);
        }        
    }

    &__icon {
        color: $color-primary;
        margin-right: $spacing-standard;
        font-size: 2rem;
    }
}

.sticky-area {
    flex: 1 1 auto;
    border-right: 1px solid $gray;
}

.contact-form {
    position: sticky;
    padding-top: $height-section-medium + 4rem;

    @include responsive(tablet) {
        position: static;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: $spacing-standard;
        border-radius: $border-radius-standard;
        max-width: 40rem;
        margin: 0 auto;

        @include shadow-standard;

    }

    h3 {        
        text-align: center;        
        line-height: 3.5rem;
        padding: 0 $spacing-standard;
        margin-bottom: $spacing-standard;
    }
    
    .form__input {
        width: 100%;
    }

    .form__field {
        margin-bottom: $spacing-standard;
    }
}

.apt-position {

    &__address {
        margin-bottom: $spacing-standard;
    }

    &__coordinates {
        margin-bottom: $spacing-standard;
    }
}

.bottom-info {
    
    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 4rem;
        padding-bottom: 4rem;

        >*{
            flex: 0 0 calc(100% / 3);
        }

    }

    &__warning {
        line-height: 2.2rem;
        text-align: center;
    }

    &__btn {
        text-align: center;
    }
}

.sponsored-apt {

    &__text {
        margin-bottom: $spacing-more;
    }
}

.msgSent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,.5);
    z-index: 999;

    &__inner-box{
        position: absolute;
        width: 100%;
        max-width: 50rem;
        background-color: $white;
        border-radius: $border-radius-standard;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        @include shadow-enhanced;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $spacing-more;
        text-align: center;
    }
    &__title {
        margin-bottom: $spacing-more;
        color: $color-primary;
    }
    &__text {
        margin-bottom: $spacing-more;
        font-size: 2rem;
        line-height: 3rem;
    }
}